.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    z-index: 1;
  
}
.featuredItems {
    position: relative;
    max-width: 1024px;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    max-height: 250px;
  }
  
  .featuredImage {
    width: 100%;
    object-fit: cover;
  }
  
  .featuredTitles{
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .featuredTitles h1{
    font-size: 35px;
    margin-bottom: 5px;
  }

  .featuredTitles h2{
    margin-top: 0;
    font-size: 16px;
    color: lightgoldenrodyellow;
  }